.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-contents {
  transform: translateY(-80px);
  height: 150px;
  width: 100%;
  max-width: 300px;
  background-color: #2a4544;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 10px;
}

.modal-contents button {
  padding: 10px;
  background-color: var(--turquoise);
  color: #2a4544;
  border-radius: 3px;
}
