@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.clearScore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #2e4756;
}

.clearScore:hover {
  cursor: pointer;
  color: white;
  background-color: #1a2a32;
}

h3 {
  color: #3cc4bf;
  padding: 5px 20px;
  border: none;
  background-color: #2e4756;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #1a2a32;
}

main {
  width: 550px;
  height: 600px;
  position: relative;
  z-index: 1;
}

.winner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  z-index: 5;
  background-color: #1a2a3278;
  /*  backdrop-filter: blur(10px);*/
}

.restart-after-win {
  padding: 2rem 3rem;
  border-radius: 20px;
  font-size: 20px;
  background-color: #2e4756;
}

.restart-after-win:hover {
  cursor: pointer;
}

.winner.show-winner {
  visibility: hidden;
}

.top > * {
  width: 130px;
  display: flex;
  justify-content: center;
}

.top {
  height: 50px;
  padding: 0 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .top * {
    display: inline;
} */

.clearScore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin-left: 20px; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #2e4756;
}

.clearScore:hover {
  cursor: pointer;
}

.turn {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.middle {
  width: 100%;
}

.middle ul {
  width: 100%;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.middle > ul li {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  background-color: #2e4756;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.top > div .fa-x,
.fa-x {
  color: #3cc4bf;
  padding-right: 5px;
  /*padding-left: 20px; */
  font-size: 20px;
}

.top > div .fa-o,
.fa-o {
  color: #f2b147;
  font-size: 20px;
}

.top .exAndOh .fa-o,
.top .exAndOh .fa-x {
  font-size: 30px;
}

.bottom {
  width: 100%;
  height: 50px;
  /* margin-bottom: 20px; */
}

.bottom ul {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 20px 0 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bottom ul li {
  width: 130px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.player-one-score {
  background-color: #3cc4bf;
}

.tie-score {
  background-color: lightgrey;
}

.player-two-score {
  background-color: #f2b147;
}

footer {
  margin-top: 50px;
}

.twitter {
  display: inline;
  margin: 0 40px;
}

.twitter a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-style: oblique;
  border-bottom: 3px solid white;
  border-radius: 25px;
}

.meg a:hover {
  color: #3cc4bf;
}

.ivan a:hover {
  color: #f2b147;
}
